
includeConfig 'config/base.config'

params {
    // input
	core = 16
	pwd = "/mnt/volume1/fst_1000g/SG10K-SV-NOTEBOOK/Manuscript_Figures/figure_4c_4d_fst/1000G_fst"
	//vcf = "${params.pwd}/data/nstd166.GRCh38.variant_call.vcf.gz"
	vcf = "${params.pwd}/data/ALL.wgs.mergedSV.v8.20130502.svs.genotypes.GRCh38.RENAMED.vcf.gz"
	annot = "${params.pwd}/data/igsr-1000genomes_phase3_release.tsv"
	//vcf = "${params.pwd}/data/test.vcf.gz"
	//tbi = "${params.pwd}/data/test.vcf.gz.tbi"
	permut = '1000'
	
	// output
	results_dir = "results"
	tracedir = "${params.results_dir}/pipeline_info"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

profiles {
    local {
	process.executor = 'local'
    }
}
