/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
process {

    withLabel:process_low {
        cpus          = 1
        memory        = 3.GB 
        time          = 240.h
    }
    withLabel:process_medium {
        cpus          = 4
        memory        = 14.GB 
        time          = 12.h  
    }
    withLabel:process_high {
        cpus          = 16
        memory        = 64.GB 
        time          = 16.h 
    }
}