
includeConfig 'config/base.config'

params {
    // input
	core = 16
	pwd = "/mnt/volume1/SG10K-SV-NOTEBOOK/fst/SG10K-SV_fst"
	vcf = "${params.pwd}/data/SG10K-SV-Release-1.4.vcf.bgz"
	tbi = "${params.pwd}/data/SG10K-SV-Release-1.4.vcf.bgz.tbi"
	mt = "${params.pwd}/data/SG10K-SV-Release-1.4.mt/"
	//vcf = "${params.pwd}/data/SG10K-SV-Release-1.4.chr22.vcf.bgz"
	//tbi = "${params.pwd}/data/SG10K-SV-Release-1.4.chr22.vcf.bgz.tbi"
	ethnicity = "${params.pwd}/data/ethnicity.txt.npy"
	permut = '1000'
	
	// output
	results_dir = "results"
	tracedir = "${params.results_dir}/pipeline_info"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

profiles {
    local {
	process.executor = 'local'
    }
}
